@charset "utf-8";

.light_background{
    background: #E8EAEC !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom-color: #DDD;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), .select-wrapper input.select-dropdown:focus {
    border-bottom-color: #424242;
    box-shadow: none;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #424242;
}

.input-field > label {
    color: #AAA;
}
.spinner-layer {
    border-color: #CCC;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #424242;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #424242;
}

.datepicker-table td.is-selected {
    background-color: #424242;
}

.datepicker-table td.is-today {
    color: #424242;
}

.datepicker-date-display {
    background-color: #424242;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #424242;
}

.copyright-item{
    font-size: 12px;
    color: #AAA;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom: 1px solid transparent !important;
}

ul.submenu {
    padding-left: 20px;
    display: none;
}

.sidenav li > a {
    padding-right: 0;
}

.sidenav li > a > i.right {
    margin-right: 10px;
}

.sidenav li.active {
    background-color: #D0D3D6 !important;
}

.sidenav li > a:hover{
    background-color: rgba(189, 199, 208, 0.342) !important;
}

.primary_background {
    background: #424242 !important;
}

.primary_color{
    color: #424242 !important;
}

.client_navbar, .secondary_color{
    background: #424242 !important;
}

table.dataTable tbody tr.active {
    background: #297FD5 !important;
    color: #FFF;
}

.rsmenu {
    overflow: hidden;
    height: 48px;
}

.left-container {
    float: left;
    overflow: hidden;
}

.right-container {
    float: right;
    margin-right: 20px;
}

.icon-base {
    margin-top: 12px;
    float: left;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}

.img-base {
    float: left;
    margin-top: 9px;
    margin-left: 18px;
}

.btn.disabled, .disabled.btn-large, .disabled.btn-small, .btn-floating.disabled, .btn-large.disabled, .btn-small.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-small:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-small:disabled, .btn-flat:disabled, .btn[disabled], .btn-large[disabled], .btn-small[disabled], .btn-floating[disabled], .btn-large[disabled], .btn-small[disabled], .btn-flat[disabled] {
    background: #d0d3d6 !important;
}

.container.rsmenu {
    width: 100%;
}

.left-container.lc1 {
    width: 64px;
    height: 48px;
}

.right-container {
    width: 24px;
    height: 48px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
}

.workforce {
    margin-top: 50px;
}

.left-container.lc2 {
    position: fixed;
    left: 84px;
    right: 84px;
    padding-top: 10px;
    padding-left: 24px;
}

.window-popup {
    position: fixed;
    background: #FFF;
    z-index: 200;
    right: 20px;
    top: 60px;
    padding: 10px;
    width: 400px;
    display: none;
}

.choose {
    cursor: pointer;
    padding: 20px 10px !important;
    -webkit-transition: 200ms all;
    transition: 200ms all;
}

.choose:hover {
    background: #EEE;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #FFF !important;
}
.btn100{
    width: 100% !important;
    margin-bottom: 10px;
}

.login {
    width: 360px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -270px;
}

.system_title {
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

.login > .card {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border-radius: 5px !important;
    overflow: hidden;
}

.system_img {
    margin-top: 20px;
}

.login_action, .forgot_password {
    margin-right: 0px !important;
}

input.required, .select-wrapper.required, textarea.required {
    border-bottom-color: #F44336 !important;
}

.workspace{
    padding-left: 250px;
    padding-top: 10px;
}
.sidenav {
    width: 250px;
}

nav.bordered {
    width: calc(100% - 250px);
}

nav.bordered {
    border-bottom: 1px solid #EAEAEA;
}
.nfixed{
    margin-bottom: 20px;
}

.brand-logo, .module_title {
    font-size: 18px !important;
}

.bordered > .nav-wrapper, .content {
    padding-left: 20px;
}

.content {
    padding-left: 20px;
}

h3 > span {
    font-size: 18px !important;
}

.sidenav .user-view{
    padding: 24px 32px 0;
}

.sidenav .user-view .circle{
    margin: auto;
}

.margen {
    overflow: hidden;
    padding-bottom: 3px;
    border-bottom: 1px solid #F5F5F5;
}

.imgx {
    float: left;
    padding: 10px;
}

.title {
    float: left;
    padding-top: 7px;
    font-size: 16px;
}

.refresh_module > i {
    font-size: 24px !important;
    line-height: 34px !important;
    height: 36px !important;
    margin-right: 0px !important;
}

.green_color {
    color: #ef337f !important;
}
.green_back {
    background: #ef337f !important;
}

#bottomDiv{
    position: absolute;
    bottom: 60px;
    left: 0;
    padding-left: 10px;
    font-size: 12px;
    width: 250px;
    border-top: 1px solid #F5F5F5;
}

.zborder {
    height: 63px;
    width: 28px;
    position: fixed;
    z-index: 1000;
    left: 240px;
}

.col.s12.m4.input-field.btn_action {
    padding-top: 9px;
}

.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: left;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}

table.dataTable tbody tr {
    background: transparent !important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 15px 10px;
}
.base_selectable > tr{
    cursor: pointer;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    -ms-transition: 200ms all;
    -o-transition: 200ms all;
    transition: 200ms all;
}
.base_selectable > tr:hover {
    background: #EEE !important;
}

.dataTables_filter > label > input {
    border-bottom: 1px solid #E5E5E5 !important;
}


.spbottom {
    margin-top: 52px;
    height: 100%;
}

.refresh_module {
    float: left;
    margin: 14px 10px 0 0px;
}

.breadcrumb:before{
    color: #FFF;
    margin-top: -5px;
}

a.breadcrumb.black-text {
    font-size: 16px !important;
}

.hidden{
    display: none;
}
.mtop-10{
    margin-top: 10px;
}

.sp_data {
    padding: 7px 11.25px !important;
    font-size: 17px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
    font-size: 17px;
    color: #2196F3;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #424242;
}

a.no_color {
    color: #000;
}

.card-panel.row.product_card {
    margin-top: 80px;
}

.col.s12.m7.primary_photo {
    margin-top: -80px;
    padding: 0;
}

.justify-align{
    text-align: justify;
}

.col.s12.content-text {
    margin-top: 30px;
    font-size: 16px;
    text-align: justify;
}

.product_price {
    font-size: 35px;
    text-align: right;
}

.col.s12.carousel-wrapper {
    margin: 30px 0 20px -35px;
    width: calc(100% + 70px);
}

.carousel.t {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.carousel-wrapper .carousel-item {
    opacity: 1 !important;
    width: 500px;
    height: 300px;
}

.t .carousel-item img {
    width: 100%;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #424242 !important;
}

.tabs .tab a {
    color: #424242 !important;
}

.tabs .indicator {
    background: #424242 !important;
}

.login_form {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.code_sent {
    text-align: center;
    font-size: 30px !important;
    letter-spacing: 10px;
}

a.cash_money {
    font-size: 20px;
}

.card.horizontal .card-image {
    max-width: 40%;
}

.info_data {
    font-size: 17px;
    text-align: justify;
}

a.normal-price {
    font-size: 22px !important;
}

a.offer-price {
    color: #F44336 !important;
    text-decoration: line-through;
    font-size: 20px !important;
}

.col.s12.offer-price {
    text-align: right;
    font-size: 24px;
    color: #F44336;
    text-decoration: line-through;
}

a.public.store_name {
    margin-left: 84px;
    font-size: 21px;
}

a.pointer.go_category{
    color: #FFF;
}

.ginput.required{
    background: #EF9A9A !important;
}
.ginput.success{
    background: #81C784 !important;
}

.cvv_attach {
    margin-top: 15px;
}

.div_send_message {
    margin-top: 24px;
}

.col.s12.message_content {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.card-panel.greyl {
    background: #90A4AE;
}

a.public.brand-logo {
    margin: 10px;
}

p.product_fixable {
    text-align: justify;
    height: 220px;
    overflow: hidden;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    a.public.brand-logo {
        left: 0px;
        -webkit-transform: none;
        transform: none;
    }
    .refresh_module {
        display: none;
    }
    .imgx {
        padding: 4px 10px !important;
    }
    
    .title {
        padding-top: 5px !important;
    }
    .login {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: 0px;
        margin-top: -270px;
    }
    .workspace{
        padding-left: 0px;
    }
    nav.bordered {
        width: calc(100%);
    }
    nav.bordered.grey.lighten-4.z-depth-0 {
        border-bottom: none !important;
        background: #FFF !important;
        -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
        -moz-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
        -o-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
    }
    .bordered > .nav-wrapper, .content{
        padding-left: 0px;
    }
    ul.spbottom{
        margin-top: 0px;
        background: #FFF !important;
    }
    .container.rsmenu {
        width: 90%;
    }
    .right-container {
        float: right;
        margin-right: 0px;
    }
    .left-container.lc1 {
        width: 81px;
        height: 48px;
    }
    .img-base {
        margin-left: 10px;
    }
    .left-container.lc2 {
        position: fixed;
        left: 104px;
        right: 54px;
        height: 48px;
        padding-top: 10px;
        padding-left: 0px;
        overflow-x: scroll;
    }
    .titlesHeader {
        width: auto;
        height: 30px;
    }
    .window-popup {
        position: fixed;
        background: #FFF;
        z-index: 200;
        left: 0;
        top: 48px;
        right: 0;
        padding: 20px;
        width: 100%;
    }
}